<footer class="row">
  <div id="hp-contain">
    <div class="footer-contact-1">
      <p class="font-2">CONTACT</p>
      <p class="font-2">ADDRESS</p>
      <br>
      <p class="font-2">HOURS</p>
    </div>
    <div class="footer-contact-2 font-2"> 
      <p>706.322.6690</p>
      <p>2511 Airport Thruway</br>
      	Columbus, GA 31904</p>
      <p>Mon - Sat: 10am - 6pm</br>
      	Closed on Sunday</p> 
    </div>
    <div class="footer-about">
      <p>ABOUT US</p>
    </div>
    <div id="map-canvas"></div>
    <div class="social-media">
      <a href="https://www.facebook.com/pages/At-Home-with-Baldwin-Interiors/1434215810192976?fref=ts"><%= image_tag("facebook_icon.png") %></a>
    </div>
  </div>
  <div id="copyright" class="font-2">
    <p>&copy; Copyright 2015 At Home with Baldwin Interiors</p>
  </div>
</footer>