<footer class="row">
  <div id="hp-contain">
    <div class="footer-contact-1">
      <p class="font-2">CONTACT</p>
      <p class="font-2">ADDRESS</p>
      <br>
      <p class="font-2">HOURS</p>
    </div>
    <div class="footer-contact-2 font-2"> 
      <p>706.322.6690</p>
      <p>2511 Airport Thruway</br>
      	Columbus, GA 31904</p>
      <p>Mon - Fri: 8am - 6pm</br>
      	Sat & Sun: 11am - 5pm</p> 
    </div>
    <div id="map-canvas"></div>
  </div>
  <div id="copyright" class="font-2">
    <p>&copy; Copyright 2015 At Home with Baldwin Interiors</p>
  </div>
</footer>