<footer class="row">
  <div id="hp-contain">
    <div class="footer-contact-1">
      <p class="font-2">CONTACT</p>
      <p class="font-2">ADDRESS</p>
      <br>
      <p class="font-2">HOURS</p>
    </div>
    <div class="footer-contact-2 font-2"> 
      <p>706.322.6690</p>
      <p>2511 Airport Thruway</br>
      	Columbus, GA 31904</p>
      <p>Mon - Sat: 10am - 6pm</br>
      	Closed on Sunday</p> 
    </div>
    <div class="footer-about">
      <p>ABOUT US</p>
    </div>
    <div id="map-canvas">
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2754.
      758476556825!2d-84.95735569952323!3d32.52107319302609!2m3!1f0!2f0!3f0!3m
      2!1i1024!2i768!4f13.1!2m1!1sat+home+with+baldwin+interiors!5e0!3m2!1sen!
      2sus!4v1441749818262" width="600" height="450" frameborder="0" style="border:0" 
      allowfullscreen></iframe>
    </div>
    <div class="social-media">
      <div class="container">
      <ul>
          <li class="col-md-2 text-center"><a href="https://www.facebook.com/pages/At-Home-with-Baldwin-Interiors
          /1434215810192976?fref=ts"><%= image_tag("Facebook_round.png") %></a></li>
          <li class="col-md-3 col-lg-2 text-center"><a href="#"><%= image_tag("Pinterest_round.png") %></a></li>
          <li class="col-md-2 text-center"><a href="#"><%= image_tag("Instagram_round.png") %></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="copyright" class="font-2">
    <p>&copy; Copyright 2015 At Home with Baldwin Interiors</p>
  </div>
</footer>