<div id="spree-header">
  <header id="header" data-hook>
    <figure id="logo" class="col-md-3" data-hook>
      <%= logo %>
    </figure>
    <div class="hidden-xs">
      <%= render :partial => 'spree/shared/nav_bar' %>
    </div>
    <div class="row mobile-nav-con">
      <%= render partial: 'spree/shared/mobile_nav_bar' %>
    </div>
  </header>
  <div class="nav-container">
    <%= render :partial => 'spree/shared/main_navbar' if store_menu? %>
  </div>
</div>
