<div id="mainnav">
  <ul data-hook>
  	<li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle font-2" data-toggle="dropdown">Gifts</a>
    <div class="dropdown-menu bullet">
      <ul class="nav-categories">
    	  <li class="bold"><a href="/t/categories/gifts">All Gifts</i></a></li>
    	  <li class="bold"><a href="/t/categories/gifts/wedding-gifts">Wedding Gifts</a></li>
    	  <li><a href="/t/categories/gifts/wedding-gifts/for-the-couple">For the couple</a></li>
    	  <li><a href="/t/categories/gifts/wedding-gifts/bridesmaid-gifts">Bridesmaid gifts</a></li>
    	  <li><a href="/t/categories/gifts/wedding-gifts/groomsmen-gifts">Groomsmen gifts</a></li>
    	  <li class="bold"><a href="/t/categories/gifts/for-him">For Him</a></li>
    	  <li class="bold"><a href="/t/categories/gifts/for-her">For Her</a></li>
    	  <li class="bold"><a href="/t/categories/gifts/anniversary">Anniversary</a></li>
    	  <li class="bold"><a href="/t/categories/gifts/graduation">Graduation</a></li>
    	</ul>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle font-2" data-toggle="dropdown">Furniture</a>
    <div class="dropdown-menu bullet">
    	<ul class="nav-categories">
        <li class="bold"><a href="/t/categories/furniture">All Furniture</a></li>
      </ul>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle font-2" data-toggle="dropdown">Kitchen & Bar</a>
    <div class="dropdown-menu bullet">
    	<ul class="nav-categories">
        <li class="bold"><a href="/t/categories/kitchen-and-bar">All Kitchen & Bar</a></li>
        <li class="bold"><a href="/t/categories/kitchen-and-bar/glassware">Glassware</a></li>
      </ul>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle font-2" data-toggle="dropdown">Interiors</a>
    <div class="dropdown-menu bullet">
    	<ul class="nav-categories">
        <li class="bold"><a href="/t/categories/interiors">All Interiors</a></li>
        <li class="bold"><a href="/t/categories/interiors/lighting">Lighting</a></li>
        <li><a href="/t/categories/interiors/lighting/lamps">Lamps</a></li>
      </ul>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle font-2" data-toggle="dropdown">Accessories</a>
    <div class="dropdown-menu bullet">
    	<ul class="nav-categories">
        <li class="bold"><a href="/t/categories/accessories">All Accessories</a></li>
        <li class="bold"><a href="/t/categories/accessories/cosmetics">Cosmetics</a></li>
      </ul>
    </div>
  </li>    
  </ul>
</div>
    