<div id="menu">
  <nav>
    <h2><i class="fa fa-reorder"></i>All Categories</h2>
    <ul>
        <li>
            <a href="#"><i class="fa fa-gift"></i>Gifts</a>
            <h2><i class="fa fa-gift"></i>Gifts</h2>
            <ul>
            	<li>
            		<a href="/t/categories/gifts"><i class="fa fa-gift"></i>All Gifts</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-diamond"></i>Wedding Gifts</a>
                    <h2><i class="fa fa-diamond"></i>Wedding Gifts</h2>
                    <ul>
                    	<li>
                    		<a href="/t/categories/gifts/wedding-gifts"><i class="fa fa-diamond"></i>All Wedding Gifts</a>
                    	</li>
                        <li>
                            <a href="#">Super Smart Phone</a>
                        </li>
                        <li>
                            <a href="#">Thin Magic Mobile</a>
                        </li>
                        <li>
                            <a href="#">Performance Crusher</a>
                        </li>
                        <li>
                            <a href="#">Futuristic Experience</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-male"></i>For Him</a>
                    <h2><i class="fa fa-male"></i>For Him</h2>
                    <ul>
                    	<li>
                    		<a href="/t/categories/gifts/for-him"><i class="fa fa-male"></i>All For Him</a>
                    	</li>
                        <li>
                            <a href="#">Flat Super Screen</a>
                        </li>
                        <li>
                            <a href="#">Gigantic LED</a>
                        </li>
                        <li>
                            <a href="#">Power Eater</a>
                        </li>
                        <li>
                            <a href="#">3D Experience</a>
                        </li>
                        <li>
                            <a href="#">Classic Comfort</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-female"></i>For Her</a>
                    <h2><i class="fa fa-female"></i>For Her</h2>
                    <ul>
                    	<li>
                    		<a href="/t/categories/gifts/for-her"><i class="fa fa-female"></i>All For Her</a>
                    	</li>
                        <li>
                            <a href="#">Smart Shot</a>
                        </li>
                        <li>
                            <a href="#">Power Shooter</a>
                        </li>
                        <li>
                            <a href="#">Easy Photo Maker</a>
                        </li>
                        <li>
                            <a href="#">Super Pixel</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-heart"></i>Anniversary</a>
                    <h2><i class="fa fa-heart"></i>Anniversary</h2>
                    <ul>
                    	<li>
                    		<a href="/t/categories/gifts/anniversary"><i class="fa fa-heart"></i>All Anniversary Gifts</a>
                    	</li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-graduation-cap"></i>Graduation</a>
                    <h2><i class="fa fa-graduation-cap"></i>Graduation</h2>
                    <ul>
                    	<li>
                    		<a href="/t/categories/gifts/graduation"><i class="fa fa-graduation-cap"></i>All Graduation Gifts</a>
                    	</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bed"></i>Furniture</a>
            <h2><i class="fa fa-bed"></i>Furniture</h2>
            <ul>
                <li>
                    <a href="/t/categories/furniture">All Furniture</a>
                </li>
                <li>
                    <a href="#">The Spectator</a>
                </li>
                <li>
                    <a href="#">Rambler</a>
                </li>
                <li>
                    <a href="#">Physics World</a>
                </li>
                <li>
                    <a href="#">The New Scientist</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-cutlery"></i>Kitchen & Bar</a>
            <h2><i class="fa fa-cutlery"></i>Kitchen & Bar</h2>
            <ul>
            	<li>
                    <a href="/t/categories/kitchen-and-bar">All Kitchen & Bar</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-glass"></i>Glassware</a>
                    <h2><i class="fa fa-glass"></i>Glassware</h2>
                    <ul>
                    	<li>
                            <a href="/t/categories/kitchen-and-bar/glassware">All Glassware</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-female"></i>Women's Clothing</a>
                            <h2><i class="fa fa-female"></i>Women's Clothing</h2>
                            <ul>
                                <li>
                                    <a href="#">Tops</a>
                                </li>
                                <li>
                                    <a href="#">Dresses</a>
                                </li>
                                <li>
                                    <a href="#">Trousers</a>
                                </li>
                                <li>
                                    <a href="#">Shoes</a>
                                </li>
                                <li>
                                    <a href="#">Sale</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-male"></i>Men's Clothing</a>
                            <h2><i class="fa fa-male"></i>Men's Clothing</h2>
                            <ul>
                                <li>
                                    <a href="#">Shirts</a>
                                </li>
                                <li>
                                    <a href="#">Trousers</a>
                                </li>
                                <li>
                                    <a href="#">Shoes</a>
                                </li>
                                <li>
                                    <a href="#">Sale</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Jewelry</a>
                </li>
                <li>
                    <a href="#">Music</a>
                </li>
                <li>
                    <a href="#">Grocery</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-home"></i>Interiors</a>
            <h2><i class="fa fa-home"></i>Interiors</h2>
            <ul>
            	<li>
                    <a href="/t/categories/interiors">All Interiors</a>
                </li>
            	<li>
                    <a href="#"><i class="fa fa-lightbulb-o"></i>Lighting</a>
                    <h2><i class="fa fa-lightbulb-o"></i>Lighting</h2>
                    <ul>
                    	<li>
                          <a href="/t/categories/interiors/lighting">All Lighting</a>
                        </li>
                        <li>
                            <a href="/t/categories/interiors/lighting/lamps">Lamps</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-suitcase"></i>Accessories</a>
            <h2><i class="fa fa-suitcase"></i>Accessories</h2>
            <ul>
            	<li>
                    <a href="/t/categories/accessories">All Accessories</a>
                </li>
            	<li>
                    <a href="#"><i class="fa fa-phone"></i>Cosmetics</a>
                    <h2><i class="fa fa-phone"></i>Cosmetics</h2>
                    <ul>
                    	<li>
                            <a href="/t/categories/accessories/cosmetics">All Cosmetics</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <% if spree_current_user %>
          <li><a href="/my_account">My Account</li>
          <li><a href="/logout">Logout</li>
        <% else%>
          <li><a href="/login">Login</a></li
        <% end %>>
        <li>
            <a href="#">Collections</a>
        </li>
        <li>
            <a href="#">Credits</a>
        </li>
    </ul>
  </nav>
</div>