<button type="button" id="toggle-button" class="mobile-button mb-left">
  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span><span class="mobile-nav-title">Menu</span>
</button>

<button type="button" id="toggleLink" class="mobile-button">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span><span class="mobile-nav-title">Search</span>
</button>

<button type="button" class="mobile-button mb-right">
  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"><%= link_to Spree.t(:cart), '/cart' %></span>
</button>
